# ======================
# Python
# ======================
__pycache__/
*.py[codz]
*$py.class
*.so

# ======================
# Virtual Environments
# ======================
.env
.envrc
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# ======================
# Packaging / Build
# ======================
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ======================
# PyInstaller
# ======================
*.manifest
*.spec

# ======================
# Logs / Coverage / Tests
# ======================
*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/
.hypothesis/

# ======================
# Flask / Django
# ======================
instance/
.webassets-cache
db.sqlite3
db.sqlite3-journal

# ======================
# Databases
# ======================
*.sqlite3
*.db
website.db
data/*.db

# ======================
# Docs / Tools
# ======================
docs/_build/
.ipynb_checkpoints
profile_default/
ipython_config.py

# ======================
# IDE / OS
# ======================
.DS_Store
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# ======================
# Misc
# ======================
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.pdm-python
.pdm-build/
.pixi
.pypirc
.cursorignore
.cursorindexingignore
